################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Revit.TestRunner.SampleTestProject/obj
/src/Revit.TestRunner/obj
/src/Revit.TestRunner.App/obj
/src/Revit.TestRunner.Console/obj
/src/Revit.TestRunner.Shared/obj
/src/Revit.TestRunner.Test/bin
/.vs
/src/.vs
/src/Revit.TestRunner/Revit.TestRunner.csproj.user
/src/bin
/src/Revit.TestRunner.sln.DotSettings.user
/src/Revit.TestRunner.App/obj/x64/Debug
*.log
